@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --bg-green: #0A846E;
    --bg-brown: #9E6D52;
    --bg-white: #fff;
    --bg-black: #000;
    --bg-red: #B93857;

    --txt-white: #fff;
    --txt-green: #0A846E;
    --txt-black: #000;
    --txt-green-dark: #055647;
    --txt-grey-dark: #1E1E1E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    background-color: var(--bg-white);
    box-shadow: 0px 4px 4px 0px #00000040;
}

body {
    background-color: #FCF6FC;
}

.bg-green {
    background-color: var(--bg-green);
}

.bg-brown {
    background-color: var(--bg-brown);
}

.bg-white {
    background-color: var(--bg-white);
}

.bg-red {
    background-color: var(--bg-red);
}

.fa-bars {
    display: none;
}

.nav {
    background-color: var(--bg-white);
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(3, 56, 47, 0.11);

    
    ul {
        display: flex;
        justify-content: space-around;

        li {
            list-style-type: none;
            padding: 1rem 0;

            a {
                text-decoration: none;
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--txt-green-dark);
            }
        }
    }
}

h1, a {
    font-family: 'Maven Pro', sans-serif;
}

h2, h3, .btn-green, btn-red, p {
    font-family: 'Open Sans', sans-serif;
}

.btn-green {
    color: var(--txt-white);
    background-color: var(--bg-green);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.btn-red {
    color: var(--txt-white);
    background-color: var(--bg-red);
    font-size: 1rem;
    padding: .3rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 700;
}

@media (max-width: 600px) {

    .fa-bars {
        display: block;
        position: fixed;
        top: .5rem;
        right: 2rem;
        color: var(--txt-white);
        font-size: 3rem;
        /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */

    }

    .nav {
        display: none;
    }
}