@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* COLOR VARIABLES */
:root {
    --bg-green: #0A846E;
    --bg-brown: #9E6D52;
    --bg-white: #fff;
    --bg-black: #000;
    --bg-red: #B93857;
    --bg-red-dark: #6E2133;
    --bg-green-dark: #055647;

    --txt-white: #fff;
    --txt-green: #0A846E;
    --txt-black: #000;
    --txt-green-dark: #055647;
    --txt-grey-dark: #1E1E1E;
}

/* UTILITY CLASSES */
.bg-green {
    background-color: var(--bg-green);
}

.bg-brown {
    background-color: var(--bg-brown);
}

.bg-white {
    background-color: var(--bg-white);
}

.bg-red {
    background-color: var(--bg-red);
}

/* NORMALIZATION */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* FONT FAMILIES */
h1, a {
    font-family: 'Maven Pro', sans-serif;
}

h2, h3, .btn-green, btn-red, p {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    background-color: var(--bg-white);
    box-shadow: 0px 4px 4px 0px #00000040;
}

/* MENU AND CLOSE BUTTON */
.fa-bars, .fa-x {
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 100;
    top: .75rem;
    right: .75rem;
    font-size: 3rem;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.9));
}

.fa-x {
    scale: .8;
}

.menu-overlay {
    display: none;
}

.menu-toggle {
    display: none;
}

/* NAVIGATION */
.nav {
    background-color: var(--bg-white);
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(3, 56, 47, 0.11);

    ul {
        display: flex;

        .menu-logo {
            display: none;
        }

        li {
            flex: 1;
            list-style-type: none;
            text-align: center;

            a {
                width: 100%;
                display: inline-block;
                padding: 1rem 0;
                text-decoration: none;
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--txt-green-dark);
            }

            a:hover {
                background: var(--bg-green-dark);
                color: var(--txt-white);
            }
        }
    }
}

/* GRID */
.grid-title {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.planned-content, .planted-content, .main-content {
    text-align: center;
}     

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2.75rem 0;
}

/* BUTTON STYLING */
.btn-green {
    color: var(--txt-white);
    background-color: var(--bg-green);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-red, .btn-change {
    color: var(--txt-white);
    background-color: var(--bg-red);
    font-size: 1rem;
    padding: .3rem 1rem;
    font-weight: 700;
    white-space: nowrap;
}

button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
}

.btn-green:hover, .btn-change:hover {
    background-color: var(--bg-green-dark);
}

.btn-red:hover {
    background-color: var(--bg-red-dark);
}

button:active {
    transform: translateY(-5px);
}

/* CARDS */
.card {
    width: 100%;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .card-img {
        position: relative;
        overflow: hidden;
        aspect-ratio: 1;
        width: 100%;

        img:nth-child(1) {
            height: 100%;
            width: 100%;
            
            object-fit: cover;
        }

        
        img:nth-child(2) {
            position: absolute;
            width: 55%;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .card-info:nth-of-type(2) {
        flex: 1;

    }
    .card-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: .75rem;
        text-align: start;

        .card-title {
            font-family: "Lato", sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--txt-black);
        }

        .card-date {
            text-align: end;
            font-size: 1rem;
            font-weight: 700;
            color: var(--txt-black);
        }

        .card-name {
            font-family: "Lato", sans-serif;
            font-size: 1rem;
            font-weight: 300;
            color: var(--txt-black);
        }

        .fa-trash {
            color: var(--bg-red);
            display: none;
            cursor: pointer;
        }
    }
}

.card:hover {
    transform: translateY(-8px);
}

/* BACK TO TOP */
.footer-back-to-top {
    text-align: center;
        
        a {
            width: 100%;
            display: inline-block;
            padding: 1.5rem 0;
            text-decoration: none;
            color: var(--txt-black);

            .back-to-top-txt {
                font-size: 1.5rem;
                font-weight: 400;
            }
        }

        a:hover {
            background-color: var(--bg-green-dark);
            color: var(--txt-white);
        }
    }

/* MEDIA QUERY SECTION */
@media (max-width: 600px) {

    .fa-bars {
        display: block;
        cursor: pointer;
    }

    header {

        .menu-toggle:checked ~ .nav {
            top: 0;
        }

        /* OVERLAY - CLICK OUTSIDE MENU TO CLOSE - BLUR BACKGROUND */
        .menu-toggle:checked ~ .menu-overlay {
            display: inline-block;
            background-color: rgba(0, 0, 0, .35);
            backdrop-filter: blur(2px);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 11;
        }

        .menu-toggle:checked ~ .menu-btn {

            .fa-bars {
                display: none;
            }

            .fa-x {
                display: block;
            }
        }
    }

    /* HAMBURGER MENU TRANSFORMAION AND TRANSITION */
    .nav {
        position: fixed;
        top: -420px;
        z-index: 11;
        width: 100vw;
        width: 100%;
        box-shadow: 0px 4px 4px 0px #000000c1;
        transition: all .3s ease-in-out;

        ul {
            flex-direction: column;

            li {
                border-bottom: 1px solid var(--bg-green-dark);
                background-color: var(--bg-green);
                text-align: start;

                a {
                    display: inline-block;
                    color: var(--txt-white);
                    padding: 1.5rem 2rem;
                    font-size: 1.5rem;
                }

                a:hover {    
                    background-color: var(--bg-white);
                    color: var(--txt-green-dark);
                }
            }

            li:first-child {
                background-image: url(../assets/plannedplanthoodlogo.svg);
                background-repeat: no-repeat;
                background-size: 40px;
                background-position: 30px center;
            }

            .menu-logo {
                display: block;
                background-color: var(--bg-green-dark);
                color: var(--txt-white);
                font-family: 'Lato', sans-serif;
                padding: 1.5rem 0 1.5rem 5.1rem;
                font-size: 1.4rem;

                img {
                    width: 9%;
                    top: 10px;
                    right: 330px;
                    position: fixed;
                }
            }

            li:last-child {
                border: none;
            }
        }
        
    }

    .card:hover {
    transform: translateY(-4px);
    }

    .grid-title {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
    }

    .content-grid {
        padding: 1.25rem 0rem;
        gap: .75rem;
        grid-template-columns: repeat(2, 1fr);

        .card {

            .card-img {
    
                img:nth-child(2) {
                    width: 50%;
                }

            }

            .card-info {
                margin: .5rem;

                .card-title {
                    font-size: .9rem;
                }

                .card-date {
                    font-size: 0.625rem;
                }

                .card-name {
                    font-size: 0.625rem;
                }

                .btn-red {
                    display: none;
                }

                .fa-trash {
                    display: block;
                }
            }

        }

    }

    footer {

        .footer-back-to-top {

            a {
                padding: 1.25rem 0;
            }
        }
    }
}

/* DISABLING NAV TRANSITION IN DESKTOP MODE */
@media (min-width: 601px) and (max-width: 800px) {
    .nav {
    transition: none;
    }

    .card {

        .card-img {

            img:nth-child(2) {
                width: 50%;
            }

        }

        .card-info {
            margin: .5rem;

            .card-title {
                font-size: 1rem;
            }

            .card-date {
                font-size: 0.75rem;
            }

            .card-name {
                font-size: 0.75rem;
            }

            .btn-red {
                font-size: .75rem;
            }
        }
    }

    .content-grid {
        gap: 1.25rem;
    }
}