@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --bg-green: #0A846E;
    --bg-brown: #9E6D52;
    --bg-white: #fff;
    --bg-black: #000;
    --bg-red: #B93857;

    --txt-white: #fff;
    --txt-green: #0A846E;
    --txt-black: #000;
    --txt-green-dark: #055647;
    --txt-grey-dark: #1E1E1E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    background-color: var(--bg-white);
    box-shadow: 0px 4px 4px 0px #00000040;
}

body {
    background-color: #FCF6FC;
}

.bg-green {
    background-color: var(--bg-green);
}

.bg-brown {
    background-color: var(--bg-brown);
}

.bg-white {
    background-color: var(--bg-white);
}

.bg-red {
    background-color: var(--bg-red);
}

header > .fa-bars {
    display: none;
        position: fixed;
        z-index: 100;
        top: .5rem;
        right: 2rem;
        color: var(--txt-white);
        font-size: 3rem;
        filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.45));
}

.nav {
    background-color: var(--bg-white);
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(3, 56, 47, 0.11);

    
    ul {
        display: flex;
        justify-content: space-around;

        li {
            list-style-type: none;
            padding: 1rem 0;

            a {
                text-decoration: none;
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--txt-green-dark);
            }
        }
    }
}

h1, a {
    font-family: 'Maven Pro', sans-serif;
}

h2, h3, .btn-green, btn-red, p {
    font-family: 'Open Sans', sans-serif;
}

.btn-green {
    color: var(--txt-white);
    background-color: var(--bg-green);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.btn-red {
    color: var(--txt-white);
    background-color: var(--bg-red);
    font-size: 1rem;
    padding: .3rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 700;
}

.card {
    width: 100%;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .card-img {
        position: relative;
        overflow: hidden;
        aspect-ratio: 1;
        width: 100%;

        img:nth-child(1) {
            height: 100%;
            width: 100%;
            
            object-fit: cover;
        }

        
        img:nth-child(2) {
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }

    .card-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .75rem;

        .card-title {
            font-family: "Lato", sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--txt-black);
        }

        .card-date {
            font-size: 1rem;
            font-weight: 700;
            color: var(--txt-black);
        }

        .card-name {
            font-family: "Lato", sans-serif;
            font-size: 1rem;
            font-weight: 300;
            color: var(--txt-black);
        }

        .fa-trash {
            color: var(--bg-red);
            display: none;
            cursor: pointer;
        }
    }
}
                
.footer-back-to-top {
    text-align: center;
        padding: 1.5rem 0;

        a {
            text-decoration: none;
            color: var(--txt-black);
            .back-to-top-txt {
                font-size: 1.5rem;
                font-weight: 400;
            }
    }
    }

@media (max-width: 600px) {

    header > .fa-bars {
        display: block;

    }

    .nav {
        display: none;
    }

    
}