@import url("./base.css");

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    aspect-ratio: 1000 / 540;

    .hero-img {
        display: grid;
        place-items: center;
        grid-area: 1 / 1 / 3 / 2;
        overflow: hidden;

        img:nth-child(1) {
            grid-area: 1 / 1 / 1 / 1;
            z-index: 10;
            width: 45%;
        }

        img:nth-child(2) {
            width: 100%;
            object-fit: cover;
            grid-area: 1 / 1 / 1 / 1;
            margin-top: -100px;
        }
    }

    .box-img {
        display: grid;
        place-items: center;

        img {
            width: 35%;
            filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
        }
    }
}

main {

    .page-title {
        margin-top: 2.25rem; 
        color: var(--txt-green);
        font-weight: 500;
        font-size: 3rem;
        text-align: center;
        line-height: 100%;
        font-size: 3rem;
    }

    .article {
        display: flex;
        margin: 3rem 2rem 10rem 2rem;

        hr {
            display: none;
        }

        .article-box-left {
            border-radius: 50%;
            aspect-ratio: 1;
            max-width: 377px;
            width: 100%;
            display: grid;
            place-items: center;

            img {
                width: 50%;
            }
        }

        .article-box-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0 4.188rem;
            gap: 1.5rem;

            h2 {
                color: var(--txt-grey-dark);
            }

            .btn-green {
                align-self: flex-end;
                padding: 1rem 2.75rem;
            }
        }
    }

            .main-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            align-items: center;

            .main-content-title {
                font-family: "Lato", sans-serif;
                font-size: 2rem;
                font-weight: 600;
            }

            .main-content-grid {
                padding: 2rem;
                gap: 2rem;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);

                /* .card {
                    width: 100%;
                    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);

                    .card-img {
                        position: relative;
                        overflow: hidden;
                        aspect-ratio: 1;
                        width: 100%;

                        img:nth-child(1) {
                            height: 100%;
                            width: 100%;
                            
                            object-fit: cover;
                        }

                        
                        img:nth-child(2) {
                            position: absolute;
                            z-index: 10;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                    }

                    .card-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: .75rem;

                        .card-title {
                            font-family: "Lato", sans-serif;
                            font-size: 1.5rem;
                            font-weight: 600;
                            color: var(--txt-black);
                        }

                        .card-date {
                            font-size: 1rem;
                            font-weight: 700;
                            color: var(--txt-black);
                        }

                        .card-name {
                            font-family: "Lato", sans-serif;
                            font-size: 1rem;
                            font-weight: 300;
                            color: var(--txt-black);
                        }

                        .fa-trash {
                            color: var(--bg-red);
                            display: none;
                            cursor: pointer;
                        }
                    }
                } */

            }
        }
    
    .article:nth-of-type(2) {
        flex-direction: row-reverse;
        margin-bottom: 7rem;

        .article-box-right {
            .btn-green {
                align-self: flex-start;
                padding: 1rem 2rem;
                font-weight: 600;
            }
        }

        .article-box-left {
            img {
                width: 40%;
            }
        }
    }
}

footer {
    margin-bottom: 5rem;

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        aspect-ratio: 1000 / 590;
        
        .footer-bg {
            overflow: hidden;
            grid-area: 1 / 1 / 2 / 3;

            .footer-img {
                width: 100%;
                margin-top: -50%;
            }

        }

        .footer-container-left {
            grid-area: 1 / 1 / 2 / 2;
            color: white;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, .79);
            
            h2 {
                display: grid;
                place-items: center;
                flex: 1;
                font-size: 4rem;
                font-weight: 700;

            }

            .contact-info {

                padding: 2rem 1.5rem;
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 1.5rem;
                    font-weight: 400;
                    font-family: 'Maven Pro', sans-serif;

                    i {
                        font-size: 1.75rem;
                    }
                }
            }
        }
    
        .footer-container-right {
            grid-area: 1 / 2 / 2 / 3;
            display: grid;
            place-items: center;
            background: rgba(5, 86, 71, 0.2);


        }
    }
    
}

@media (max-width: 600px) {

    .hero {
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 2 / 3;

    .hero-img {
        grid-area: 1 / 1 / 3 / 3;
        margin-top: -10%;

        img:nth-child(1) {
            width: 60%;
            margin-top: -15%;
        }
    }

    .box-img {

        img {
            width: 50%;
        }
    }
}

    /* .hero {
        grid-template-rows: repeat(3, 1fr);
        aspect-ratio: 2 / 3;

        .hero-img {
            grid-area: 1 / 1 / 3 / 3;

            img:nth-child(1) {
            grid-area: 3 / 1 / 4 / 2;
            }

            img:nth-child(2) {
            grid-area: 3 / 2 / 4 / 3;
            }
        }
    } */

    main {

    .page-title {
        font-size: 1.5rem;
    }

    .article {
        flex-direction: column-reverse;
        gap: 2rem;
        
        hr {
            display: block;
            height: 3px;
            width: 60vw;
            align-self: center;
            background-color: var(--txt-green-dark);
            border-radius: 3px;
            border: none;
            margin-top: 2rem;
        }

        .article-box-left {
            align-self: center;
            max-width: 85%;

            img {
                width: 50%;
            }
        }

        .article-box-right {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0;

            h2 {
                color: var(--txt-grey-dark);
            }

            .btn-green {
                padding: .75rem 2.75rem;
                align-self: center;
                font-size: 1rem;
            }
        }
    }

            .main-content {
            flex-direction: column;
            gap: 2.5rem;

            .main-content-title {
                font-size: 1rem;
                font-weight: 600;
            }

            .main-content-grid {
                padding: 1rem;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);

                .card {

                    .card-img {
            
                        img:nth-child(2) {
                            width: 50%;
                        }

                    }

                    .card-info {
                        margin: .5rem;

                        .card-title {
                            font-size: .9rem;
                        }

                        .card-date {
                            font-size: 0.625rem;
                        }

                        .card-name {
                            font-size: 0.625rem;
                        }

                        .btn-red {
                            display: none;
                        }

                        .fa-trash {
                            display: block;
                        }
                    }
                }

            }
        }

        .btn-green {
            font-size: 1rem;
            padding: .75rem 1.5rem;
        }

        .article:nth-of-type(2) {
            flex-direction: column;

            .article-box-right {
                .btn-green {
                    align-self: center;
                }
            }

            .article-box-left {
                img {
                    width: 40%;
                }
            }
        }
    }

    footer {
        margin-bottom: 5rem;

        .footer-container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            aspect-ratio: 1 / 2;
            
            .footer-bg {
                overflow: hidden;
                grid-area: 1 / 1 / 3 / 2;

                .footer-img {
                    height: 100%;
                    margin-top: 0;
                }

            }

            .footer-container-left {
                grid-area: 2 / 1 / 3 / 2;
                background-color: rgba(0, 0, 0, .79);
                
                h2 {
                    font-size: 2rem;
                    font-weight: 500;
                }

                .contact-info {

                    p {
                        font-size: .75rem;

                        i {
                            font-size: .75rem;
                        }
                    }
                }
            }
        
            .footer-container-right {
                grid-area: 1 / 1 / 2 / 2;
            }
        }

        .footer-back-to-top {

            .back-to-top-txt {
                font-size: .75rem;
            }
        }
    }
}