@import url("./base.css");

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    aspect-ratio: 1000 / 540;

    .hero-img {
        display: grid;
        place-items: center;
        grid-area: 1 / 1 / 3 / 2;
        overflow: hidden;

        img:nth-child(1) {
            grid-area: 1 / 1 / 1 / 1;
            z-index: 10;
            width: 45%;
        }

        img:nth-child(2) {
            width: 100%;
            object-fit: cover;
            grid-area: 1 / 1 / 1 / 1;
            margin-top: -100px;
        }
    }

    .box-img {
        display: grid;
        place-items: center;

        img {
            width: 35%;
        }
    }
}

main {

    .page-title {
        margin-top: 2.25rem; 
        color: var(--txt-green);
        font-weight: 500;
        font-size: 3rem;
        text-align: center;
        line-height: 100%;
        font-size: 3rem;
    }

    .article {
        display: flex;
        margin: 3rem 2rem 10rem 2rem;

        .article-box-left {
            border-radius: 50%;
            aspect-ratio: 1;
            max-width: 377px;
            width: 100%;
            display: grid;
            place-items: center;

            img {
                width: 50%;
            }
        }

        .article-box-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0 4.188rem;
            gap: 1.5rem;

            h2 {
                color: var(--txt-grey-dark);
            }

            .btn-green {
                align-self: flex-end;
                padding: 1rem 2.75rem;
            }
        }
    }

            .main-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            align-items: center;

            .main-content-title {
                font-family: "Lato", sans-serif;
                font-size: 2rem;
                font-weight: 600;
            }

            .main-content-grid {
                padding: 2rem;
                gap: 2rem;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);

                .card {
                    width: 100%;
                    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);

                    .card-img {
                        position: relative;
                        overflow: hidden;
                        aspect-ratio: 1;
                        width: 100%;

                        img:nth-child(1) {
                            height: 100%;
                            width: 100%;
                            
                            object-fit: cover;
                        }

                        
                        img:nth-child(2) {
                            position: absolute;
                            z-index: 10;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                    }

                    .card-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: .75rem;

                        .card-title {
                            font-family: "Lato", sans-serif;
                            font-size: 1.5rem;
                            font-weight: 600;
                            color: var(--txt-black);
                        }

                        .card-date {
                            font-size: 1rem;
                            font-weight: 700;
                            color: var(--txt-black);
                        }

                        .card-name {
                            font-family: "Lato", sans-serif;
                            font-size: 1rem;
                            font-weight: 300;
                            color: var(--txt-black);
                        }
                    }
                }

            }
        }
    
    .article:nth-of-type(2) {
        flex-direction: row-reverse;
        margin-bottom: 7rem;

        .article-box-right {
            .btn-green {
                align-self: flex-start;
                padding: 1rem 2rem;
                font-weight: 600;
            }
        }

        .article-box-left {
            img {
                width: 40%;
            }
        }
    }
}

footer {

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        aspect-ratio: 1000 / 590;
        /* overflow: hidden; */
        
        .footer-bg {
            overflow: hidden;
            grid-area: 1 / 1 / 2 / 3;

            .footer-img {
                width: 100%;
                margin-top: -50%;
            }

        }

        .footer-container-left {
            grid-area: 1 / 1 / 2 / 2;
            color: white;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, .79);
            
            h2 {
                display: grid;
                place-items: center;
                flex: 1;
                font-size: 4rem;
                font-weight: 700;

            }

            .contact-info {
                /* width: 100%; */
                padding: 2rem 1.5rem;
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 1.5rem;
                    font-weight: 400;
                    font-family: 'Maven Pro', sans-serif;

                    i {
                        font-size: 1.75rem;
                    }
                }
            }
        }
    
        .footer-container-right {
            grid-area: 1 / 2 / 2 / 3;
            display: grid;
            place-items: center;
            background: rgba(5, 86, 71, 0.2);


        }
    }
}



