@import url(./base.css);

header {
    .hero-section {
        width: 100%;
        aspect-ratio: 1000 / 380;
        display: grid;
        place-items: center;
        overflow: hidden;

        .hero-bg-container {
            grid-area: 1 / 1 / 2 / 2;
            overflow: hidden;

            .hero-bg {
                width: 100%;
            }

        }

        .hero-container {
            grid-area: 1 / 1 / 2 / 2;
            text-align: center;

            .hero-img {
                width: 75%;

            }

            .hero-title {
                color: var(--txt-white);
                font-size: 2.5rem;
                font-weight: 500;
            }
        }
    }
}

main {
    padding: 3.5rem 2rem;
    .main-form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .main-form-title {
            font-size: 2rem;
            font-weight: 400;
            color: var(--txt-black);
        }
        .main-form-section {
            display: flex;
            gap: 2.25rem;

            .main-form-section2 {
                flex: 1;
                .form-label {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.25rem;
                    font-weight: 400;
                }

                .form-input {
                    border: none;
                    border-radius: 4px;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    width: 100%;
                    height: 2.8rem;
                }
            }
        }

        .btn-green  {
            align-self: center;
        }
    }
}