@import url(./base.css);

/* HEADER */
header {
    /* HERO */
    .hero-section {
        width: 100%;
        aspect-ratio: 1000 / 380;
        display: grid;
        place-items: center;
        overflow: hidden;

        .hero-bg-container {
            grid-area: 1 / 1 / 2 / 2;
            overflow: hidden;
            background-color: black;

            .hero-bg {
                width: 105%;
                filter: opacity(80%);
            }
        }

        .hero-container {
            filter: opacity(100%);
            grid-area: 1 / 1 / 2 / 2;
            text-align: center;
            display: grid;
            place-items: center;
            gap: 1rem;

            .hero-img {
                width: 100%;

            }

            .hero-title {
                color: var(--txt-white);
                font-size: 2.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }
        }
    }
}

/* MAIN */
main {
    padding: 3.5rem 2rem;
    /* MAIN FORM SECTION */
    .main-form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .main-form-title {
            font-size: 2rem;
            font-weight: 400;
            color: var(--txt-black);
        }

        .main-form-container {
            display: flex;
            gap: 2.25rem;

            .main-form-section {
                flex: 1;

                .form-label {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.25rem;
                    font-weight: 400;
                }

                .form-input {
                    border: none;
                    border-radius: 4px;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    width: 100%;
                    height: 2.8rem;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.5rem;
                    padding: 0 .75rem;
                }
            }
        }

        .btn-green  {
            align-self: center;
            margin-bottom: 2rem;
        }
    }

    /* .btn-red, .btn-change {
        width: 7rem;
    } */

    .planned-content {

            .card {
                display: flex;
                flex-direction: column;

                .btn-red, .btn-change {
                    width: 7rem;
                }
            }
        
    }
}

/* FOOTER */
footer {
    margin-bottom: 5rem;
    
    .footer-gallery {
        background-color: var(--bg-brown);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        aspect-ratio: 1000 / 336;
        padding: 2rem;
        gap: 1rem;
        

        .footer-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .75;
        }
    }
}

.btn-change {
    align-self: flex-end;
    background-color: var(--bg-green);
    margin-right: .75rem;
}

/* MEDIA QUERY SECTION */
@media (max-width: 600px) {

    header {

        .hero-section {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            aspect-ratio: 1;

            .hero-container {
                gap: 2rem;

                .hero-img {
                    width: 90%;
                    margin-top: 2rem;
                }

                .hero-title {
                    font-size: 2rem;
                    margin-bottom: 0rem;
                }
            }
        }
    }

    main {
        padding: 1rem;
        margin-bottom: 2rem;

        .main-form {
            text-align: center;

            .main-form-title {
                font-size: 1.5rem;

            }

            .main-form-container {
                text-align: start;
                flex-direction: column;

                .main-form-section {
                    .form-label {
                        font-size: .75rem;
                    }
                }
            }
            
            .main-form-container:nth-of-type(1) {
                display: none;
            }

            .btn-green {
                padding: .5rem 1.25rem;
                font-size: 1rem;
            }
        }

        .card-img-overlay {
            display: none;
        }

        .btn-change {
            display: none;
        }
    }

    footer {
        margin-bottom: 0rem;
    
        .footer-gallery {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            aspect-ratio: 390 / 220;
            padding: 1rem;
            gap: 1rem;    

            .footer-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: .75;
                overflow: hidden;
            }
        }

        .footer-back-to-top {
            
            .back-to-top-txt {
                font-size: .75rem;
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    header {
        .hero-section {

            .hero-container {

                .hero-img {
                    width: 65%;
                }
            }
        }
    }
    main {

        .planned-content {

            .card {

                .btn-change {
                    font-size: .75rem;
                    margin-right: .5rem;
                }   

                .btn-red, .btn-change {
                    width: 5rem;
                }
            }
        }
    }
    
}